{% extends "base.html" %}

{% block content %}
<h1 class="title">All Habits 🥕</h1>

<p><a href="{% url 'add_habit' %}">Add New Habit</a> </p>
<!-- cant figure out how to column them. have tried a couple of things -->
<div class="content">
{% for habit in habits %}
    <div class="columns tile is-ancestor is-parent ">
        <div class="column tile is-4 is-verticle">
            <div class="tile is-child box has-background-primary">
                <p>{{tracker.daily_record}}</p>
                <a class="f4 b" href= "{% url 'habit_details' pk=habit.pk %}"> {{ habit.goal }}</a>
                <p class="f6"> {{ habit.description}}</p>

<!-- Tracker -->
    <span class="icon-text">
        <span class="icon has-text-info">
            <i class="fa fa-arrow-up"></i>
        </span>
    <a class= "content is-small" href="{% url 'add_tracker' pk=habit.pk %}"> Track Habit</a>
    </span><br>
<!-- Edit habit with icon -->
    <span class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-pen"></i>
        </span>
        <a class= "content is-small" href="{% url 'edit_habit' pk=habit.pk %}">Edit Habit</a>
    </span><br>

<!-- Delete habit with icon -->
        <span class="icon-text">
            <span class="icon has-text-danger">
                <i class="fas fa-ban"></i>
            </span>
                <a class="red content is-small" href="{% url 'delete_habit' pk=habit.pk %}">Delete Habit</a>
        </span>
            </div>
        </div>
    </div> 
<!-- would like to have updated time at the bottom of the card -->
{% endfor %}
</div> 
{% endblock %}